{% extends 'base.html.twig' %}

{% block title %}Modife Véhicule{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Modife Véhicule</h2>
        <div class="form-container">
            {{ include('vehicule/_form.html.twig') }}
                <a href="{{ path('app_vehicule_index') }}" class="custom-btn">Retour</a>
                    {{ include('vehicule/_delete_form.html.twig') }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
