{% extends 'base.html.twig' %}

{% block title %}Modife Client{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Modife Client</h2>
        <div class="form-container">
            {{ include('client/_form.html.twig') }}
                <a href="{{ path('app_client_index') }}" class="custom-btn">Retour</a>
                {{ include('client/_delete_form.html.twig') }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
