{% extends 'base.html.twig' %}

{% block title %}Modife Categorie{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Modife Categorie</h2>
        <div class="form-container">
            {{ include('categorie/_form.html.twig') }}
                <a href="{{ path('app_categorie_index') }}" class="custom-btn">Retour</a>
                {{ include('categorie/_delete_form.html.twig') }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
